.component {
    display: flex;
    flex-direction: column;
}

.panel {
    composes: panel from global;
}

.panel_outer {
    composes: panel_outer from global;
    row-gap: calc(var(--offset-base-size) * 4);
}

.panel_inner {
    composes: panel_inner from global;
    row-gap: calc(var(--offset-base-size) * 4);
    flex-grow: 1;
}

.item {
    display: flex;
    position: relative;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: calc(var(--offset-base-size) * 10);
}

.total_price {
    display: flex;
    align-items: center;
    column-gap: calc(var(--offset-base-size) * 2);
}

.total_value {}

.dummy {
    composes: constructor-element from global;
    margin-left: calc(var(--offset-base-size) * 12);
    margin-right: calc(var(--offset-base-size) * 4);
}

.dummy_hover {
    outline: 1px solid var(--colors-interface-accent);
}

.dummy_pos_top {
    composes: constructor-element_pos_top from global;
    flex-grow: 0;
}

.dummy_pos_bottom {
    composes: constructor-element_pos_bottom from global;
    flex-grow: 0;
}